.song-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.song-item:hover {
  background-color: #69b3e8;
}

.song-cover img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.song-details {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.song-name,
.song-artist {
  margin: 0;
  font-size: 16px;
}
